In [1]:
# Step1: Generate each_contest_before_csv
import xml.etree.ElementTree as ET
import pandas as pd  

# Input will be the card_ID 
cols = ["車號","姓名",  "車隊", "車型", "日期"]
rows = []

#Parse XML file
tree = ET.parse('race_cars_info.xml')
root = tree.getroot()
for elem in root:
        name = elem.find("姓名").text
        car_label = elem.find("車號").text
        car_team = elem.find("車隊").text
        car_model = elem.find("車型").text
        date = elem.find("日期").text 
            
        rows.append({"姓名": name, 
                  "車號": car_label,
                  "姓名": name,
                  "車隊": car_team,
                  "車型": car_model,
                  "日期": date})

df = pd.DataFrame(rows, columns = cols) 
  
# # write dataframe to csv
df.to_csv('each_contest_before.csv',index=False)

key = cardId = string = "8200000013A3"       --> value = 車號

In [2]:
df

   車號       姓名     車隊               車型                   日期
0  #1   Steven  team1           BMW M4  2019-03-02 11:16:07
1  #2  Michael  team2     McLaren 720S  2019-06-01 10:06:07
2  #3   Albert  team3  Porsche 918 GTR  2019-04-05 16:30:07

In [3]:
#1. Insert each personName with corresponding cardID
cardIDMap = {}
cardIDMap["8200000013A2"] = "#1"        # Steven
cardIDMap["8200000013A3"] = "#2"        # Albert
cardIDMap["8200000013A1"] = "#3"        # Michael

In [4]:
print(cardIDMap)

{'8200000013A2': '#1', '8200000013A3': '#2', '8200000013A1': '#3'}

# 模擬三張不同的卡號 給予六圈的紀錄（修改前面11 字數的絕對時間點）



----------------- 8200000013A1_op ----------------- 此卡號給steven 


1651545180 472058 2022/05/03 Tue - 10:33:00.472


1651545309 686995 2022/05/03 Tue - 10:35:09.686


1651545434 408053 2022/05/03 Tue - 10:37:14.408


1651545554 79984 2022/05/03 Tue - 10:39:14.079


1651545670 802198 2022/05/03 Tue - 10:41:10.802


1651545785 426224 2022/05/03 Tue - 10:43:05.426





----------------- 8200000013A2_op ----------------- 此卡號給albert 


1651545100 472058 2022/05/03 Tue - 10:24:00.472


1651545200 686995 2022/05/03 Tue - 10:32:09.686


1651545300 408053 2022/05/03 Tue - 10:34:14.408


1651545400 79984 2022/05/03 Tue - 10:38:14.079


1651545500 802198 2022/05/03 Tue - 10:42:09.802


1651545600 426224 2022/05/03 Tue - 10:43:05.426





----------------- 8200000013A2_op ----------------- 此卡號給steven 


1651545100 472058 2022/05/03 Tue - 10:33:00.472


1651545300 686995 2022/05/03 Tue - 10:35:09.686


1651545450 408053 2022/05/03 Tue - 10:37:14.408


1651545500 79984 2022/05/03 Tue - 10:39:14.079


1651545670 802198 2022/05/03 Tue - 10:41:10.802


1651545850 426224 2022/05/03 Tue - 10:43:05.426

In [6]:
df = pd.read_csv ('each_contest_before.csv')
df['車競賽'] = 1

#1. Mapping the card ID with its corresponding timestamps. 

#2. How to parse the filename with op extension? 

#3. How to keep updating the latest records within 1 to 10 sec. 


#4. Calculate time traveling 

import glob, os


# Please change path to be the current directory. 
os.chdir("/Users/stevenkan/Documents/Race_car_app/project/data_process_folder")


for cardIDfileName in glob.glob("*op"):

    time = open(cardIDfileName).readlines()
    cardID = cardIDfileName[:12]
    personID = cardIDMap[cardID]
    
    # Extract each timestamp in each line. 
    i = 0
    prev = 0
    for line in time:
        timestamp = int(line[:10])
#         print(timestamp)

        index = df.index
        new_val = df['車號'] == personID
        index = index[new_val]
        
        timeTravel = timestamp - prev

        if(i == 1):
            df.at[index, '第一圈秒數'] = timeTravel
        elif(i == 2):
            df.at[index, '第二圈秒數'] = timeTravel
        elif(i == 3):
            df.at[index, '第三圈秒數'] = timeTravel
        elif(i == 4):
            df.at[index, '第四圈秒數'] = timeTravel
        elif(i == 5):
            df.at[index, '第五圈秒數'] = timeTravel
            
        i = i + 1
        prev = timestamp

     
    print("--------------End of " + cardIDfileName + "---------------")
    
    
    
df

--------------End of 8200000013A1_op---------------
--------------End of 8200000013A2_op---------------
--------------End of 8200000013A3_op---------------

,車號,姓名,車隊,車型,日期,車競賽,第一圈秒數,第二圈秒數,第三圈秒數,第四圈秒數,第五圈秒數
0,#1,Steven,team1,BMW M4,2019-03-02 11:16:07,1,100.0,100.0,100.0,100.0,100.0
1,#2,Michael,team2,McLaren 720S,2019-06-01 10:06:07,1,200.0,150.0,50.0,170.0,180.0
2,#3,Albert,team3,Porsche 918 GTR,2019-04-05 16:30:07,1,129.0,125.0,120.0,116.0,115.0

In [7]:
df2 = df
df2 = df2.drop(columns=['車競賽', '姓名','車號', '車隊', '日期', '車型'])
best_score_label = df2.idxmin(axis = 1)

best_scores = []
i = 0
for ind in best_score_label:
    best_scores.append(df2.iloc[i][ind])
    i = i + 1
    
df['最佳圈秒數'] = best_scores
df.to_csv('each_contest_after.csv', index=False)

In [8]:
df

,車號,姓名,車隊,車型,日期,車競賽,第一圈秒數,第二圈秒數,第三圈秒數,第四圈秒數,第五圈秒數,最佳圈秒數
0,#1,Steven,team1,BMW M4,2019-03-02 11:16:07,1,100.0,100.0,100.0,100.0,100.0,100.0
1,#2,Michael,team2,McLaren 720S,2019-06-01 10:06:07,1,200.0,150.0,50.0,170.0,180.0,50.0
2,#3,Albert,team3,Porsche 918 GTR,2019-04-05 16:30:07,1,129.0,125.0,120.0,116.0,115.0,115.0

In [9]:
# Step3: Convert csv to xml

import csv
csvFile = 'each_contest_after.csv'
xmlFile = 'result.xml'

csvData = csv.reader(open(csvFile))
xmlData = open(xmlFile, 'w')
xmlData.write('<?xml version="1.0"?>' + "\n")
# there must be only one top-level tag
xmlData.write('<csv_data>' + "\n")

rowNum = 0
for row in csvData:
    if rowNum == 0:
        tags = row
        # replace spaces w/ underscores in tag names
        for i in range(len(tags)):
            tags[i] = tags[i].replace(' ', '_')
    else: 
        xmlData.write('<row>' + "\n")
        for i in range(len(tags)):
            xmlData.write('    ' + '<' + tags[i] + '>' \
                          + row[i] + '</' + tags[i] + '>' + "\n")
        xmlData.write('</row>' + "\n")
            
    rowNum +=1

xmlData.write('</csv_data>' + "\n")
xmlData.close()